@import "~bootstrap/scss/bootstrap";
header {
    .top-banner {
        min-height: 20px;
    }
    .logo-header {
        width: 50%;
    }

    li {
        list-style: none;
    }

    .jumbotron {
        background-image: url("../images/jumbotron.jpg");
        background-size: cover;
        height: 350px;
    }
}

footer {
    .jumbotron-footer {
        background-image: url(../images/footer-bg.jpg);
    }

    .logo-bg-dc {
        width: 40%;
    }
}
